.game-stuff {
  display: flex;
}
.sudoku-info {
  width: 20vw;
  border-right: 1px solid rgb(128, 205, 23);
}
.info-header {
  margin: 1.25rem 1rem;
}
.puzzle-btn {
  border-top: 1px solid rgb(203, 220, 25);
  height: 30px;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
.puzzle-btn:hover {
  cursor: pointer;
  background-color: rgb(203, 215, 186);
}
.puz-btn-selected {
  background-color: rgb(203, 215, 186);
}
.puz-btn-selected:hover {
  cursor: default;
}

.game-board {
  display: flex;
  flex-direction: column;
  margin: 0 auto 2em;
}
.game-header {
  display: flex;
  justify-content: space-evenly;
}
.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tools-text {
  margin: 3px 0;
}
.cross-out-tool {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
}
.red-back {
  background-color: rgb(224 60 25 / 41%);
}
.white-back {
  background-color: #fff;
}
.red-back-h:hover {
  background-color: rgb(224 60 25 / 41%);
  cursor: pointer;
}
.cross-out-tool:hover {
  border: 1px solid rgb(224 60 25 / 41%);
  cursor: pointer;
}
.hilite-box {
  display: flex;
  align-items: center;
}
.hilite-nums {
  border: 1px solid #fff;
  padding: 2px 6px;
}
.hilite-nums:hover {
  border: 1px solid rgb(182, 236, 107);
  cursor: pointer;
}
.highlight {
  background-color: rgb(239, 251, 114);
}
h1 {
  color: #63826e;
}
.container {
  display: grid;
  max-width: 850px;
  min-width: 650px;
  min-height: 600px;
  grid-template-columns: repeat(3, 1fr [square]);
  grid-template-rows: repeat(3, 1fr [square]);
}

.block {
  display: grid;
  grid-template-columns: repeat(3, 1fr [square]);
  grid-template-rows: repeat(3, 1fr [square]);
  padding: 1rem;
}
.block-bor-rt {
  border-right: 1px solid rgb(128, 205, 23);
}
.block-bor-btm {
  border-bottom: 1px solid rgb(128, 205, 23);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5px;
  outline: 1px solid rgb(203, 220, 25);
}
.filled {
  background-color: rgb(189 220 148);
}

.num-btn {
  border: 1px solid rgb(182, 236, 107);
  display: flex;
  justify-content: center;
  align-items: center;
}
.poss:hover {
  background-color: rgb(203, 215, 186);
  cursor: pointer;
}
.not-poss {
  background-color: rgb(224 60 25 / 41%);
  border: 1px solid rgb(224 60 25 / 41%);
}
.opt-size-1 {
  height: 18px;
  width: 16px;
  margin: 2px;
}
.opt-size-2 {
  height: 25px;
  width: 25px;
  margin: 2px;
}
.opt-size-3 {
  height: 30px;
  width: 30px;
  margin: 2px;
}
.opt-size-4 {
  height: 40px;
  width: 40px;
  margin: 2px;
}
.tooltip {
  position: relative;
}
.tooltip:before {
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: 100%;
  z-index: 1;
  padding: 3px;
  background:#fff;
  outline: 1px solid rgb(203, 220, 25);
  font-size: 12px;
  text-align: center;
  display: none; /* hide by default */
}
.tooltip:hover:before {
  display: block;
}

footer {
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(203, 220, 25);
}
.credits {
  margin-top: 2em;
}

/* iphone */
@media (max-width: 900px) {
  .game-stuff {
    display: flex;
    flex-direction: column-reverse;
  }
  .cross-out-tool {
    border-left: 1px solid rgb(224 60 25 / 41%);
    border-bottom: 1px solid rgb(224 60 25 / 41%);
    padding: 3px 26px;
    margin: 3px auto;
  }
  .game-board {
    margin-bottom: 1em;
  }
  .block {
    padding: 5px;
  }
  .cell {
    margin: 3px;
  }
  .opt-size-1 {
    height: 18px;
    width: 16px;
    margin: 1px;
  }
  .opt-size-3 {
    height: 25px;
    width: 40px;
    margin: 2px;
  }
  .sudoku-info {
    width: unset;
    border-top: 1px solid rgb(203, 220, 25);
    border-right: unset;
  }
  .info-header {
    margin: 0.5rem;
  }
  .diff-group-mob {
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
  }
  .puzzle-btn {
    border-left: 1px solid rgb(203, 220, 25);
    height: unset;
    padding: 3px 4px;
    margin: 4px 5px;
    display: flex;
    align-items: center;
  }
}